.story.owned > .preview {
    font-weight: bold;
}

.story > .preview {
    transition: background-color 0.2s;
}

.story.highlighted.unscheduled > .preview {
    background-color: #d4dfe7;
}

.story.highlighted.unstarted > .preview,
.story.highlighted.planned   > .preview {
    background-color: #dfdfdf;
}

.story.highlighted.started   > .preview,
.story.highlighted.finished  > .preview,
.story.highlighted.delivered > .preview {
    background-color: #e3e3c1;
}

.story.highlighted.accepted > .preview {
    background-color: #cadbbf;
}
